body {
  /* margin: auto;
  max-width: 900px;
  padding: 10px 20px 0px 20px; */
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%),
  hsl(273, 75%, 66%));
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 0px 0px 10px 0px;
}

header h1 {
  font-size: 3rem;
}

header q {
  font-size: 1rem;
}

.noMatch {
  text-align: center;
}

.noMatch q {
  font-size: 3rem;
  padding: 0px 0px 10px 0px;
}

.noMatch p {
  font-size: 2rem;
  padding: 0px 0px 10px 0px;
}

.noMatch a {
  text-decoration: underline;
}

.loading {
  text-align: center;
}

.comic {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.comic h2 {
  font-size: 2rem;
  text-align: center;
  display: block;
  padding: 0px 0px 10px 0px;
}


.comic img {
  display: block;
  height: auto;
  max-width: 70%;
  padding: 10px 50px 20px 0;
  margin: auto;
}

.comic .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 10px 0px;
}

.control {
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-pack: center; */
      -ms-flex-pack: center;
          justify-content: center;
}

.control * {
  padding: 2px 6px;
  font-size: 1.3rem;
  border: 1px;
  border-radius: 3px;
  background-color: #ffffff;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}



.control *:hover {
  background-color: #4698ce;
}
.start {
  cursor:pointer;
  transition: color 200ms;
  padding: 0px 40px 70px 0;
  margin: auto;
  

}

input[type='radio'] {
display: none;
}

.redondeado {
  border-radius: 5px;
  outline: none;
  background-color: #dfe;
  border: 1px;
  margin-right: 5px;
  margin-left: 5px;
}



